* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.title {
    font-size: 50px;
    padding: 30px;
    text-align: center;
}

.title_green {
    color: green;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.content__inner {
    max-width: 500px;
}

.content__title {
    font-size: 25px;
    margin-bottom: 20px;
}

.content__list {
    margin-bottom: 25px;
    padding-left: 17px;
}

.content__link {
    font-size: 25px;
    color: #006dd4;
}

.content__img {
    max-width: 50%;
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 420px;
    margin: 50px auto;
}

.form__title {
    font-size: 35px;
    margin-bottom: 30px;
    text-align: center;
}

.form__input {
    font-size: 23px;
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid #d7d7d7;
    border-radius: 5px;
}

.form__btn {
    font-size: 20px;
    padding: 16px;
    color: #fff;
    border: 0;
    border-radius: 5px;
    background-color: green;
}