{% extends 'templates/layout.twig' %}

{% set title = 'Gulp template' %}
{% set description = 'Gulp template for development' %}

{% block styles %}
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="title title_h1">Hello world</h1>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}